@font-face{
    font-family: 'Sedgwick AD';
    src: url('fonts/Sedgwick_Ave_Display/SedgwickAveDisplay-Regular.ttf')
}

@font-face{
    font-family: 'Ubuntu';
    src : url('fonts/Ubuntu/Ubuntu-Bold.ttf')

}

@font-face{
    font-family: 'Ubuntu Light';
    src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face{
    font-family: 'Jockey One';
    src: url('fonts/Jockey_One/JockeyOne-Regular.ttf');
}
@font-face{
    font-family: 'Irish Groover';
    src: url('fonts/Irish_Grover/IrishGrover-Regular.ttf');
}

@font-face{
    font-family: 'Stainlist One';
    src: url('fonts/Stalinist_One/StalinistOne-Regular.ttf');
}

@font-face{
    font-family: 'trade winds';
    src: url('fonts/Trade_Winds/TradeWinds-Regular.ttf');
}

@font-face {
    font-family: 'Walter Tc';
    src: url('fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf');
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.header{
    background-image: url('images/backgroundHomePage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.judul{
    text-align: start;
    padding: 250px 100px;
}
.judul h1{
    font-family: 'Sedgwick AD';
    font-size: 145px;
    font-weight: 400;
}

.text-home{
    font-family: 'Ubuntu';
    font-size: 2rem;
    padding-top: 12px;
}

.button-home{
    display: flex;
    gap: 30px;
    margin-top: 150px;
}

.button-Buy-ticket{
    width: 240px;
    height: 87px;
    background-color: #9A0F0F;
    color: #ffffff;
    font-family: 'Irish Groover';
    font-size: 30px;
    border: none;
    box-shadow: 7px 7px #b00000;
}

.button-read-more{
    width: 240px;
    height: 87px;
    background-color: #fff;
    color: #000;
    font-family: 'Irish Groover';
    font-size: 30px;
    border: none;
    box-shadow: 7px 7px #d3a8a8;
}

.list-kota{
    font-family: 'Stainlist One';
    font-size: 20px;
   
}

.list-kota ul{
    position: relative;
    top: -1110px;
    right: -890px;
    display: flex;
    gap: 40px;
    list-style: none;
    rotate: -90deg;
}

.list-kota li{
    color: #765050;
    
}

.btn-logout{
    width: 122px;
    height: 64px;
    background-color: #9A0F0F;
    position: relative;
    left: 111.2rem;
    top: 2rem;
    padding-top: 10px;
    padding-left: 40px;
    box-shadow: -2px 5px #b00000;
}

.list-kota-hp{
    display: none;
}

/* sec time cd */

.countdown{
    background-image: url('images/bg countdown.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}

.text-cd{
    font-family: 'Jockey One';
    text-align: start;
    font-size: 60px;
    font-weight: 400;
    padding-top: 100px;
}

.title-cd h1{
    position: relative;
    margin-left: 300px;
}
.title-cd h3{
    font-family: 'Irish Groover';
    font-size: 30px;
    color: #000;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 5px;
    width: 242px;
    padding-left: 20px;
    height: 56px;
    margin:  0 300px;
    background: #fff;
}
.sec-time-cd{
   position: relative;
   top : -250px;
   left: 400px;
   margin-top: 20px;
}
.time-cd{
    display: flex;
    justify-content: center;
    font-size: 120px;
    gap: 60px;
    font-family: 'Jockey One';
}

.time-cd-p{
    display: flex;
    justify-content: center;
    font-family:  'Ubuntu Light';
    font-weight: 400;
    font-size: 25px;
    gap: 30px;
}


.deskripsi-about{
  display: flex;
  background: #000;
  padding-top: 150px;
  justify-content: center;
  gap: 100px;
}

.about{
    background: #000;
}
.desk-1{
    font-family: 'Walter tc';
    font-size: 25px;
    text-align: start;
    width: 437px;
}
.desk-2{
    font-family: 'Walter tc';
    font-size: 25px;
    text-align: end;
    width: 462px;
}

.social-icon{
   display: flex;
   justify-content: center;
   gap: 30px;
   padding-top: 100px;
   color: #000000;
}
.sosmed{
    height: 90px;
    width: 90px;
    border-radius: 20px 0 20px 0;
    background: #fff;
    box-shadow: 5px 5px #d3a8a8;
}

.sosmed img{
    width: 40px;
    height: 40px;
    margin: 25px 25px;
}

.garis-putih-about{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-left: 650px;
    padding-bottom: 50px;
}

.title-gallery{
    font-size: 60px;
    font-family: 'trade winds';
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.image-gallery{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}

.sec-to-contact{
    background-image: url('images/bg-homeTicket.png');
    height: 710px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.position-to-contact{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-left: 450px;
    padding-right: 450px;
}

.title-sec-album{
    display: grid;
    gap: 30px;
}

.title-sec-album h3{
    font-size: 40px;
    font-family: 'Jockey one';
    font-weight: 400;
}

.btn-to-contact{
    height: 74px;
    width: 233px;
    background-color: #fff;
    box-shadow: 5px 5px #d3a8a8;
}

.btn-to-contact a{
    color: #000;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Irish Groover';
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}   

.desc-contact{
    font-family: 'Ubuntu Light';
    font-size: 15px;
    text-align: start;
    width: 373px;
}

.new-album{
    background: #000;
    margin-top: 40px;
}

    
.album{
    background-color: #ffffff;
    width: 1040px;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 40px 0;
}

.bg-album h2{
    font-family: 'Jockey One';
    color: #000;
    font-weight: 400;
   font-size: 40px;
   text-align: end;
    padding-right: 50px;
    padding-left: 50px;
}

.btn-listen-now{
    width: 249px;
    height: 77px;
    background: #000;
    box-shadow: 5px 5px gray;
    margin: 50px;
}
.listen-now{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Irish Groover';
    font-weight: 400;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: end;
    width: 249px;
    height: 77px;
  
}

.tmbnail-album{
   margin-right: 50px;
}

.tour {
  width: 100%;
  /* height: auto; */
  padding: 20px;
}

.header_tour {
  font-size: 60px;
  color: #9A0F0F;
}

.indonesia_container {
  width: 100%;
  height: 200px;
}

.indonesia_container .bg_tour h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 200px;
  height: 50px;
  color: black;
}

.indonesia_container p {
  margin-top: 20px;
  width: 600px;
}


.jakarta_container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.jakarta_left {

}

.bg_location h2{
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9A0F0F;
  width: 280px;
  height: 70px;
  color: #fff;
}

.jakarta_date {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  width: 280px;
  color: #9A0F0F;
}

.jakarta_center {
  width: 200px;
  height: 2px;
  background-color: #c80a0a;
}

.jakarta_right button{
  border: none;
  width: 200px;
  height: 70px;
  background-color: #9A0F0F;
  box-shadow: 5px 5px #b00000;
  cursor: pointer;
}

.jakarta_right button:hover {
  background-color: #c80a0a;
}

.upcoming_header {
  font-size: 50px;
  margin: 80px 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}



.upcoming_left .place{
  font-size: 60px;
  width: 200px;
}

.upcoming_left .location{
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 350px;
  height: 70px;
  color: #000;
  margin-bottom: 100pxk;
}

.upcoming_left .date {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.upcoming_center {
  height: 2px;
  width: 200px;
  background-color: white;
}

.upcoming_right {
  width: 200px;
}